# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Vector store
vectorstore/

# Documents uploaded by users
documents/

# VS Code
.vscode/

# Node
frontend/node_modules/


# OS files
.DS_Store
Thumbs.db